SatisfactorySaveEditor/Data/Types.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TypeTooltip">
    <xs:annotation>
      <xs:documentation>
        ===============================================================================================================
        Formatting Standards

        1. Parent in this file matches parent type in the save file tree. For example, this means that since
        'Game' is the child of root 'Root' in the save, 'Game' is the child of tag 'Root' in the XML.

        2. If you discover a tag not listed in this file in your save, but cannot determine its purpose, insert
        the below template where it should go in the tree. Do not uncomment the template until a tooltip
        has been written. By doing this, people can share tags that their save has that others might not know
        about yet, increasing the chance that someone can figure out what it probably does.
        &lt;TypeTooltip Type="PUT_TAG_TYPE_NAME_HERE" Tooltip="Currently_unknown_purpose" />
        3. For tags which contain one or more sub-tags, use the word 'Contains.' For tags which contain a
        singular data tag, use the word 'Stores.' For example, the FactoryGame tag "Contains multiple
        persistent objects..." and the BP_BuildableSubsystem.BP_BuildableSubsystem_C tag "Stores non-
        standard Color Gun color pairs."

        4. Don't conclude tooltips with a period unless it is the period in an abbreviation such as "etc." or "M.A.M."
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TypeTooltip" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="TypeTooltip" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeTooltip" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="TypeTooltip" maxOccurs="unbounded" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>&lt;TypeTooltip Type="BP_GameState.BP_GameState_C" Tooltip="Currently unknown purpose." />&lt;TypeTooltip Type="BP_TutorialSubsystem.BP_TutorialSubsystem_C" Tooltip="Currently unknown purpose." /></xs:documentation>
                            </xs:annotation>
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="TypeTooltip" maxOccurs="unbounded" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation><![CDATA[<TypeTooltip Type="BP_CircuitSubsystem.BP_CircuitSubsystem_C" Tooltip="Currently unknown purpose." /><TypeTooltip Type="BP_RailroadSubsystem.BP_RailroadSubsystem_C." Tooltip="Currently unknown purpose." /><TypeTooltip Type="BP_StorySubsystem.BP_StorySubsystem_C" Tooltip="Currently unknown purpose." /> #TODO: Have to setup a new save without walls to figure out which is which  <TypeTooltip Type="Build_Wall_8x4_01.Build_Wall_8x4_01_C" Tooltip="Stores Wall 8x4" />  <TypeTooltip Type="Build_Wall_8x4_02.Build_Wall_8x4_02_C" Tooltip="Stores Wall 8x4" />  <TypeTooltip Type="Build_Wall_Door_8x4_01.Build_Wall_Door_8x4_01_C" Tooltip="Stores Wall with doorway 8x4" />]]></xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="TypeTooltip" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="Type" use="optional"/>
                                              <xs:attribute type="xs:string" name="Tooltip" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="Type" use="optional"/>
                                    <xs:attribute type="xs:string" name="Tooltip" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Type" use="optional"/>
                              <xs:attribute type="xs:string" name="Tooltip" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Type" use="optional"/>
                        <xs:attribute type="xs:string" name="Tooltip" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Type"/>
                  <xs:attribute type="xs:string" name="Tooltip"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Type" use="optional"/>
            <xs:attribute type="xs:string" name="Tooltip" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="Type"/>
      <xs:attribute type="xs:string" name="Tooltip"/>
    </xs:complexType>
  </xs:element>
</xs:schema>